<div id="footer">
      
      	
      	<div id="horizontalLine">
      		<ul class="circle">
      			<li><a href="#firstFact"><p class="circle-tab">Fact 01</p></a></li>
      			<li><a href="#secondFact"><p class="circle-tab">Fact 02</p></a></li>
      			<li><a href="#thirdFact"><p class="circle-tab">Fact 03</p></a></li>
      			<li><a href="#firstQuestion"><p class="circle-tab">Question 01</p></a></li>
      			<li><a href="#secondQuestion"><p class="circle-tab">Question 02</p></a></li>
      			<li><a href="#thirdQuestion"><p class="circle-tab">Question 03</p></a></li>
      			<li><a href="#share"><p class="circle-tab">Share</p></a></li>
      		</ul>
      	</div> 

		<div id="inline">

      	<!-- <ul class="centered footer-tabs">
			<li><a href="#firstFact">Fact 01</a></li>
			<li><a href="#secondFact">Fact 02</a></li>
			<li><a href="#thirdFact">Fact 03</a></li>
			<li><a href="#firstQuestion">Question 01</a></li>
			<li><a href="#secondQuestion">Question 02</a></li>
			<li><a href="#thirdQuestion">Question 03</a></li>
			<li><a href="#share">Share</a></li>
		</ul> -->
		 
        <ul>
		  <li><h6>Share /</h6></li>
		  <li><a href=""><span class="linkedin">&#62232;</span></a></li>
		  <li><a href=""><span class="twitter">&#62217;</span></a></li>
		  <li><a href=""><span class="facebook">&#62220;</span></a></li>
		</ul>


      </div>
</div>


 
